*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("../img/banner.jpg");
  background-size: cover;
  background-position-x: 9%;
}

.container{
  max-width: 1300px;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
    max-width: 100px;
}

.hero {
    text-align: center;
    padding: 80px 0;
}

.hero h1 {
    font-size: 35px;
	font-family: 'Raleway',sans-serif;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: 70px;
	margin-bottom: 20px;
}

.hero h2 {
	font-size: 30px;
	font-family: 'Great Vibes',sans-serif;
	font-weight: 100;
	color: #fff;
	letter-spacing: 2px;
	line-height: 50px;
}

.hero p {
    font-size: 14px;
	font-family: 'Raleway',sans-serif;
	color: #fff;
	letter-spacing: 2px;
	line-height: 25px;
	margin-bottom: 30px;
}

.featured {
	padding: 50px 0;
    text-align: center;
}

.featured h2 {
	font-size: 30px;
	font-family: 'Raleway',sans-serif;
	font-weight: 100;
	color: #fff;
	letter-spacing: 2px;
	line-height: 50px;
	margin-bottom: 11px;
	position: relative;
}

.featured h2::before {
    content: '';
    position: absolute;
    width: 39%;
    height: 2px;
    background-color: #fff;
    bottom: 0;
}

.signature {
	padding: 30px 0;
	margin-bottom: 20px;
}

.featured h3 {
	font-size: 14px;
	font-family: 'Raleway',sans-serif;
	color: #fff;
	letter-spacing: 2px;
	line-height: 30px;
	margin-top: 50px;
}

.featured img {
    max-width: 25%;
    height: auto;
    margin: 0 auto; 
    display: block;
	box-shadow: 0px 7px 15px;
	border-radius: 50%;
}

.menu {
    padding: 80px 0;
    text-align: center;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("../img/menu.jpg");
	background-position: center;
	background-size: cover;
}

.menus {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 120px;
    margin-right: 155px;
}

.menu_selection {
	display: flex;
	justify-content: space-between;
}

.menu_class {
	margin-bottom: 20px;
	flex-wrap: wrap;
	justify-content: center;
}


.menu_title h2 {
    font-size: 40px;
    font-family: 'Raleway',sans-serif;
    font-weight: 100;
    color: #fff;
    margin-bottom: 55px;
    border: solid 1px;
    display: inline-block;
    padding: 12px;
    padding-left: 25px;
    padding-right: 25px;
}

.menu_selection h2 {
    font-size: 40px;
	font-family: 'Raleway',sans-serif;
	font-weight: 100;
	color: #fff;
    margin-bottom: 55px;
	position: relative;
}

.menu_selection h2::before {
	content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #00875c;
    bottom: 181px;
	transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
} 

.menu_selection h2:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}

.menu h3 {
    font-size: 17px;
    font-family: 'Raleway',sans-serif;
    font-weight: 100%;
    color: #fff;
    margin-bottom: 15px;
    margin-top: 11px;
	border-bottom: 2px dashed #00875c;
	padding-bottom: 4px;
}

.menu p {
    font-size: 15px;
    font-family: 'Raleway',sans-serif;
    color: #fff;
    margin-bottom: 46px;
    color: blanchedalmond;
}

.menu_class img {
	object-fit: cover;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	transition: transform .7s ease-in-out;
}

.menu_class img:hover {
	transform: rotate(360deg);
}

.about {
	padding: 70px 0;
    text-align: center;
}

.about_title {
    margin-bottom: -69px;
    flex: 1;
}

.about_container {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 50px;
}


.box {
	flex: 2;
	text-align: justify;
}

.box2 {
	display: flex;
	flex-direction: column;
	padding-left: -31px;
	width: 52%;
}
.about h2 {
	font-size: 39px;
	font-family: 'Raleway',sans-serif;
	font-weight: 100;
	color: #fff;
	margin-bottom: 16px;
	position: relative;
}

.about h2::before {
    content: '';
    position: absolute;
    width: 26%;
    height: 2px;
    background-color: #fff;
    bottom: 0;
}

.about h4 {
	font-size: 13px;
	font-family: 'Raleway',sans-serif;
	color: #fff;
	font-weight: 100;
	margin-top: 2px;
	line-height: 21px;
}

.about h3 {
	font-size: 19px;
	font-family: 'Raleway',sans-serif;
	font-weight: 100;
	color: #fff;
	border-bottom: 1px solid;
	padding-bottom: 6px;
}

.about h5 {
	font-size: 19px;
	font-family: 'Raleway',sans-serif;
	font-weight: 100;
	color: #fff;
}

.about p {
	font-size: 15px;
	font-family: 'Raleway',sans-serif;
	font-weight: 100%;
	color: #fff;
	letter-spacing: 2px;
	line-height: 25px;
	margin-bottom: 30px;
	margin-top: 10px;
}

.contact {
	padding: 150px 0;
    text-align: center;
}

.contact h2 {
	font-size: 30px;
	font-family: 'Raleway',sans-serif;
	font-weight: 100;
	color: #fff;
    margin-bottom: 20px;
}

.contact p {
	font-size: 14px;
	font-family: 'Raleway',sans-serif;
	color: #fff;
	letter-spacing: 2px;
	line-height: 25px;
	margin-bottom: 30px;
}

footer {
    background-color: #4c3c32;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.navbar-menu a{
  color: #fff;
  font-size: 13px;
  font-family: 'Raleway',sans-serif;
  font-weight: 100;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.4s ease-in-out;
}

.navbar-menu a:hover{
  background-color: #fff;
  color: #000;
}

.cta-button{
  display: inline-block;
  font-size: 14px;
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
  color: #fff;
  background: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 12px 20px;
  border: 1px solid #fff;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.cta-button:hover{
  background: #fff;
  color: #000;
}

.card {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  background-color: rgb(42, 39, 39);
  border: 1px solid #282626;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  flex: -1;
  width: 238px;
  height: 341px;
}

.card img {
  max-width: 97%;
  height: 192px;
  border-radius: 10px;
}

.contact h3, .contact h4 {
  color: #fff;
}
p iframe {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #282626;
  border: 1px solid #282626;
}
.smicons a {
  margin: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container_card {
  padding: 2px 16px;
}