*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("../img/bg.jpg");
  background-size: cover;
  background-position-x: 9%;
}

.container{
  max-width: 95%;
  padding: 2px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
    max-width: 27%;
	margin-left: 3%
}

.hero {
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("../img/banner.jpg");
	background-size: cover;
	text-align: center;
	padding-top: 11%;
	padding-bottom: 5%;
}

.hero h1 {
    font-size: 35px;
	font-family: 'Raleway',sans-serif;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: 70px;
	margin-bottom: 20px;
}

.hero h2 {
	font-size: 30px;
	font-family: 'Great Vibes',sans-serif;
	font-weight: 100;
	color: #fff;
	letter-spacing: 2px;
	line-height: 50px;
}

.hero p {
    font-size: 14px;
	font-family: 'Raleway',sans-serif;
	color: #fff;
	letter-spacing: 2px;
	line-height: 25px;
	margin-bottom: 30px;
}

.featured {
	padding: 50px 0;
    text-align: center;
}

.featured h2 {
	font-size: 30px;
	font-family: 'Raleway',sans-serif;
	font-weight: 100;
	color: #fff;
	letter-spacing: 2px;
	line-height: 50px;
	margin-bottom: 11px;
	border-bottom: 2px solid;
	margin-left: 31%;
	max-width: 40%;
}

.signature {
	padding: 30px 0;
	margin-bottom: 20px;
}

.featured h3 {
	font-size: 14px;
	font-family: 'Raleway',sans-serif;
	color: #fff;
	letter-spacing: 2px;
	line-height: 30px;
	margin-top: 50px;
}

.signature img {
    max-width: 22vw;
    height: auto;
    margin: 0 auto; 
    display: block;
	box-shadow: 0px 7px 15px;
	border-radius: 50%;
}

.menu {
    text-align: center;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("../img/menu.jpg");
	background-position: center;
	background-size: cover;
}

.menus {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 120px;
    margin-right: 155px;
}

.menu_selection {
	display: flex;
	justify-content: space-between;
}

.menu_class {
	margin-bottom: 20px;
	flex-wrap: wrap;
	justify-content: center;
}


.menu_title h2 {
    font-size: 40px;
    font-family: 'Raleway',sans-serif;
    font-weight: 100;
    color: #fff;
    margin-bottom: 55px;
    border: solid 1px;
    display: inline-block;
    padding: 12px;
    padding-left: 25px;
    padding-right: 25px;
	margin-top: 54px;
}

.menu_selection h2 {
    font-size: 40px;
	font-family: 'Raleway',sans-serif;
	font-weight: 100;
	color: #fff;
    margin-bottom: 55px;
	position: relative;
}

.menu_selection h2::before {
	content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #00875c;
    bottom: 185px;
	transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
} 

.menu_selection h2:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}

.menu h3 {
    font-size: 17px;
    font-family: 'Raleway',sans-serif;
    font-weight: 100%;
    color: #fff;
    margin-bottom: 18px;
    margin-top: 11px;
	border-bottom: 2px dashed #00875c;
	padding-bottom: 4px;
}

.menu p {
    font-size: 12x;
    font-family: 'Raleway',sans-serif;
    color: #fff;
    margin-bottom: 40px;
    color: blanchedalmond;
    margin-top: -15px;
}

.menu h4 {
	font-size: 12px;
	font-family: 'Raleway',sans-serif;
	margin-bottom: 30px;
	color: blanchedalmond;
	margin-top: -25px;
	background-color: rgb(129 60 18 / 90%);
	padding: 3px;
}

.menu_class img {
	object-fit: cover;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	transition: transform .7s ease-in-out;
}

.menu_class img:hover {
	transform: rotate(360deg);
}

.about {
	padding: 70px 0;
	padding-bottom: 0;
    text-align: center;
}

.about_title {
    margin-bottom: -69px;
    flex: 1;
}

.about_container {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 50px;
}


.box {
	flex: 2;
	text-align: justify;
}

.box2 {
	display: flex;
	flex-direction: column;
	padding-left: -31px;
	width: 52%;
}
.about h2 {
	font-size: 39px;
	font-family: 'Raleway',sans-serif;
	font-weight: bold;
	margin-bottom: 16px;
	position: relative;
	border-bottom: 2px solid;
	border-color: white;
	color: burlywood	;
}

.about h4 {
	font-size: 13px;
	font-family: 'Raleway',sans-serif;
	color: #fff;
	font-weight: 100;
	margin-top: 2px;
	line-height: 21px;
}

.about h3 {
	font-size: 19px;
	font-family: 'Raleway',sans-serif;
	font-weight: 100;
	color: #fff;
	border-bottom: 1px solid;
	padding-bottom: 6px;
}

.about h5 {
	font-size: 19px;
	font-family: 'Raleway',sans-serif;
	font-weight: 100;
	color: #fff;
	position: relative;
	padding-bottom: 4px;
}

.about h5::before {
	content: '';
	position: absolute;
	background-color: #fff;
	bottom: 0;
	width: 111px;
	height: 2px;
}

.about p {
	font-size: 15px;
	font-family: 'Raleway',sans-serif;
	font-weight: 100%;
	color: #fff;
	letter-spacing: 1.5px;
	line-height: 25px;
	margin-bottom: 30px;
	margin-top: 10px;
}

.contact {
	padding: 70px 0;
    text-align: center;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("../img/bg2.jpg");
	background-position: center;
	background-size: cover;
}

.contact h2 {
	font-size: 30px;
	font-family: 'Raleway',sans-serif;
	font-weight: 100;
	color: #fff;
    margin-bottom: 20px;
}

.contact p {
	font-size: 14px;
	font-family: 'Raleway',sans-serif;
	color: #fff;
	letter-spacing: 2px;
	line-height: 25px;
	margin-bottom: 30px;
}

footer {
    background-color: #4c3c32;
    color: white;
    text-align: center;
    padding: 20px 0;
}	

.navbar {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.75);
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
}

.navbar-menu {
	display: inherit;
}

.navbar-menu a{
  color: #fff;
  font-size: 13px;
  font-family: 'Raleway',sans-serif;
  font-weight: 100;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.4s ease-in-out;
}

.navbar-menu a:hover{
  background-color: #fff;
  color: #000;
}

.cta-button{
  display: inline-block;
  font-size: 14px;
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
  color: #fff;
  background: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 12px 20px;
  border: 1px solid #fff;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.cta-button:hover{
  background: #fff;
  color: #000;
}

.card {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  background-color: rgb(42, 39, 39);
  border: 1px solid #282626;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  flex: -1;
  width: 238px;
  height: 341px;
}

.card img {
  max-width: 100%;
  height: 192px;
  border-radius: 10px;
}

.contact h3, .contact h4 {
  color: cadetblue;
}
p iframe {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #282626;
  border: 1px solid #282626;
}
.smicons a {
  margin: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container_card {
  padding: 2px 16px;
}

.footer2 {
  width: 100%;
  height: 141px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 33px;
}

.footer3 {
  text-align: right;
  padding-top: 20px;
  width: 100%;
  height: 75px;
  background-color: rgba(255, 255, 255, 0.2);
}

.contact_form {
	width:340px;
	height: 466px;
	background:#e6e6e6;
	border-radius:8px;
	box-shadow:0 0 40px -10px #000;
	margin: calc(34vh - 219px)  75px;
	padding: 21px 30px;
	max-width: calc(100vw - 40px);
	box-sizing:border-box;
	font-family:'Montserrat',sans-serif;
	position:relative;
}

.contact_form h2{
	margin: 10px 0;
	padding-bottom:10px;
	width: 100%;
	color:#78788c;
	border-bottom:3px solid #78788c;
}

input[type=contact] {
	width:100%;
	padding:10px;
	box-sizing:border-box;
	background:none;
	outline:none;
	resize:none;
	border:0;
	font-family:'Montserrat',sans-serif;
	transition:all .3s;
	border-bottom:2px solid #bebed2;
}

input[type=contact]:focus{
	border-bottom:2px solid #78788c;
}

.contact_form p::before{
	content:attr(type);
	display:block;
	margin:28px 0 0;
	font-size:14px;
	color:#5a5a5a;
}

button{
	float: right;
	padding: 8px 12px;
	margin: 1px 0 0;
	font-family:'Montserrat',sans-serif;
	border:2px solid #78788c;
	background:0;
	color:#5a5a6e;
	cursor:pointer;
	transition:all .3s;
}

button:hover{
	background:#78788c;
	color:#fff;
}

.floaticon {
	content:'Hi';
	position:absolute;
	bottom: -48px;
	right: -50px;
	background:#50505a;
	color:#fff;
	width:320px;
	padding:16px 4px 16px 0;
	border-radius:35px;
	font-size:13px;
	box-shadow:10px 10px 40px -14px #000;
}

span {
	margin:0 5px 0 0;
}

.container_contact {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.container_contact2 {
	display: flex;
	flex-direction: column;
}

.contact_title {
	font-family: 'Raleway',sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 17px;
}

input[type=newsletter] {
	width: 209px;
	border: 2px solid;
	padding: 12px;
	height: 28px;
	background-color: rgba(255, 255, 255, 0.4);
	border-color: transparent;
	font-size: 14px;
	font-weight: bolder;
	font-family: 'Raleway', sans-serif;
	transition: box-shadow 0.3s ease;
	margin-top: 2px;
}


input[type=newsletter]::placeholder {
	color: beige;
	font-weight: lighter;
}

.nl_form {
	padding: 12px;
	margin-right: 23px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-end;
}

label[for=nletter] {
	font-family: 'Raleway', sans-serif;
	margin-bottom: 4px;
	color: #cbcbcb;
	font-weight: bold;
}

.footerbox {
	display: flex;
	flex-direction: column;
	margin-left: 36%;
}

input[type=newsletter]:focus {
	outline: none;
	box-shadow: 0 0 0 2px hsla(220, 100%, 100%, 80%);
}

.arrow {
	height: 100%;
	width: 23%;
	padding: 0px;
	background-color: rgba(255, 255, 255, 0.4);
	border: 2px solid;
	border-color: rgb(42, 39, 39);
}


.arrow img {
	padding: 0px;
	height: 21px;
	margin: -6px;
	max-width: 100%
}

.nletterbox {
	display: flex;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.fproducts {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 4%;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.fproducts img {
	width: 16vw;
	height: 59%;
	margin: 0 auto;
	border-radius: 10%;
	box-shadow: 0px 7px 15px;
}

.fproducts h4 {
	font-size: 17px;
	font-family: 'Raleway',sans-serif;
	font-weight: 100;
	color: #fff;
	display: inline;
	line-height: 45px;
}

.fproducts h5 {
	font-size: 15px;
	font-family: 'Raleway',sans-serif;
	color: #fff;
	line-height: 23px;
	margin-bottom: 30px;
	font-weight: lighter;
	display: inline-block;
	margin-top: 1%;
}

.fpcontainer {
	position: relative;
	width: 21vw; 
	height: 100%;
	overflow: hidden;
}

.image1 {
	transition: opacity 0.3s;
}

.fadedtext {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: opacity 0.3s, transform 0.3s;
	font-family: 'Montserrat';
	font-weight: bold;
	background-color: #bebed2;
	font-size: 15px;
	padding: 2%;
	border-radius: 45%;
}

.fpcontainer:hover .image {
    opacity: 0.7; 
}

.fpcontainer:hover .fadedtext {
	opacity: 1;
	transform: translate(-50%, -50%) scale(1.1);\
}

.dropdown_container {
    position: relative;
}

.dropdown {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

.dropdown_menu {
    position: absolute;
    top: 101%;
    left: 0;
    display: none;
    background-color: #fff; /* Change the background color as needed */
    border: 1px solid transparent;
    padding: 10px;
    z-index: 1;
	border-radius: 5%;
}

.dropdown_container:hover .dropdown_menu {
    display: block;
}

.dropdown_menu a {
    display: block;
    padding: 5px 0;
    color: #000; /* Change the color as needed */
    text-decoration: none;
}

.dropdown_menu a:hover {
    background-color: #fff;
	color: #000;
}

.mission_container {
	border: 25px solid #B88846;
	border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
	max-width: 76%;
	display: inline-block;
	margin-bottom: 50px;
	background-color: rgb(87 55 36 / 90%);
	box-shadow: 0px 7px 15px;
	
}